TURSO_DATABASE_URL= # Turso database URL (example: libsql://mydb-user007.turso.io)
TURSO_AUTH_TOKEN= # Turso Token (info: https://docs.turso.tech/cli/db/tokens/create#db-tokens-create)

DATABASE_URL= # Database URL ("file:./dev.db")
AUTH_SECRET= # Auth secret (generate with: npx auth secret)


GITHUB_CLIENT_ID= # Github OAuth Client ID
GITHUB_CLIENT_SECRET= # Github OAuth Client Secret Token


GOOGLE_CLIENT_ID= # Google OAuth Client ID
GOOGLE_CLIENT_SECRET= # Google OAuth Client Secret Token